@use "../../styles/common";
@use "../../themes/colors" as colors;
@use "../viewer-info/viewer-info.scss";

@mixin logo-icon-wrapper {
  position: relative;

  width: 24px;
  aspect-ratio: 1;
}

.irm-logo {
  .irm-logo__container {
    position: relative;

    width: 240px;
    aspect-ratio: 16/9;

    background-color: #35455e;

    .irm-logo__wrapper {
      position: absolute;
      width: 100%;
      height: 100%;

      .irm-logo__logo {
        position: absolute;
        width: 100%;
        height: 100%;

        opacity: 0.6;

        border: none;

        cursor: pointer;
      }
    }

    .irm-logo__menus {
      position: relative;
      z-index: 2;

      display: flex;
      padding: 8px;

      .irm-logo__maximize-icon-wrapper {
        @include logo-icon-wrapper;
        cursor: pointer;

        .irm-logo__maximize-icon {
          position: absolute;
          width: 100%;
          aspect-ratio: 1;
        }
      }
    }
  }
}

// 네트워크 상태 표시 아이콘
.irm-network-status {
  @include logo-icon-wrapper;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;

  .irm-network-status__icon {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;

    &--red {
      @extend .irm-network-status__icon;
      background-color: colors.$status-danger;
    }

    &--yellow {
      @extend .irm-network-status__icon;
      background-color: colors.$status-warning;
    }

    &--green {
      @extend .irm-network-status__icon;
      background-color: colors.$status-normal;
    }
  }
}
