@use "../../../../../../styles/common";
@use "../../../../../kit/style" as kit;
@use "../../../../../../themes/typography" as typography;

$color-border: var(--color__border);
$color-font1: var(--color__font-secondary);
$color-font2: var(--color__font-primary);
$color-bg-primary: var(--color__bg-primary);
$color-table-hover: var(--color__table-hover);

.irapha-dicom-info__inner {
  width: 800px;
}

.irapha-dicom-info__search-bar {
  padding: 12px 8px 8px 8px;
}

// table
.irapha-dicom-info__data-grid .uk-table {
  max-height: 286px;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;

  table {
    table-layout: fixed;
    width: 100%;

    thead {
      position: sticky;
      top: 0;
      background-color: $color-bg-primary;

      th {
        &:nth-child(1) {
          width: 8%;
        }
        &:nth-child(2) {
          width: 15%;
        }

        &:nth-child(3) {
          width: 22%;
        }

        &:nth-child(4) {
          width: 7%;
        }

        &:nth-child(5) {
          width: 10%;
        }
      }
    }

    tbody {
      tr {
        border-color: $color-border !important;
        cursor: pointer;

        &:hover {
          background-color: $color-table-hover;
          color: $color-font1;
        }

        td {
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

.irapha-dicom-info__data-grid__captions {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  padding: 12px 16px;
}

.irapha-dicom-info__data-grid__total {
  @include typography.label-large;
  color: $color-font2;
}

.irapha-dicom-info__footer {
  display: flex;
  justify-content: flex-end;
  padding: 12px;
}
