@use "../../../../styles/common";
@use "../../../../themes/typography" as typography;

@use "../../../cineplay-controller/style" as cineplay-controller;

// dicom viewbox
// =================================================================
$color-font: var(--color__font-primary);

$color-green: var(--color__green);
$color-yellow: var(--color__yellow);
$color-orange: var(--color__orange);

$color-border: var(--color__border);
$color-border-weak: #eeeeee22;

$min-width: 360px;

// viewbox 상태 처리
@mixin s-viewbox {
  &.--active {
    color: $color-font;

    border: 2px solid $color-yellow;

    &:hover {
      border: 2px solid $color-orange;
    }
  }
}

.irapha-dicom-viewbox {
  @include s-viewbox;

  display: flex;
  flex-direction: column;
  min-width: $min-width;
  height: 100%;

  border: 2px solid $color-border-weak;

  transition: all 0.3s ease-in-out;

  &:hover {
    border: 2px solid $color-green;
  }
}

// dicom viewbox screen
// =================================================================
.irapha-dicom-viewbox__screen {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "tl tc tr"
    "l . r"
    "bl bc br";

  width: 100%;
  height: 100%;

  overflow: hidden;

  canvas {
    position: absolute;

    width: 100%;
    height: 100%;
  }
}

// dicom viewbox desc
// =================================================================

// description position 대응
@mixin position-desc {
  &.--position {
    &-top-left {
      grid-area: tl;
      display: flex;
      justify-content: flex-start;
    }

    &-top-center {
      grid-area: tc;
      display: flex;
      justify-content: center;
    }

    &-top-right {
      grid-area: tr;
      display: flex;
      justify-content: flex-end;
    }

    &-left {
      grid-area: l;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    &-right {
      grid-area: r;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    &-bottom-left {
      grid-area: bl;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
    }

    &-bottom-center {
      grid-area: bc;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }

    &-bottom-right {
      grid-area: br;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }
}

.irapha-dicom-viewbox__desc {
  @include position-desc;
  @include typography.label-small;

  z-index: 1;
  margin: 8px;
}
