@use "../../../../styles/common";
@use "../../../../styles/anim" as anim;
@use "../../../../themes/typography" as typography;

@use "../../../cineplay-controller/style" as cineplay-controller;

// dicom viewbox
// =================================================================
$color-font: var(--color__canvas-text-secondary);

$color-green: var(--color__green);
$color-yellow: var(--color__yellow);
$color-orange: var(--color__orange);

$color-border-weak: var(--color__viewbox-border-weak);

// viewbox 상태 처리
@mixin s-viewbox {
  &[active="true"] {
    color: $color-font;

    border: 2px solid $color-yellow;

    &:hover {
      border: 2px solid $color-orange;
    }
  }
}

.irapha-dicom-viewbox {
  @include s-viewbox;
  @include anim.basic-transition;

  display: flex;
  flex-direction: column;
  height: 100%;

  border: 2px solid $color-border-weak;

  &:hover {
    border: 2px solid $color-green;
  }

  canvas {
    background-color: #000;
  }
}

// dicom viewbox screen
// =================================================================
.irapha-dicom-viewbox__screen {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "tl tc tr"
    "l . r"
    "bl bc br";

  width: 100%;
  height: 100%;

  overflow: hidden;

  canvas {
    position: absolute;

    width: 100%;
    height: 100%;
  }
}

// dicom viewbox desc
// =================================================================

// description position 대응
@mixin position-desc {
  &[position="top-left"] {
    grid-area: tl;
    justify-content: flex-start;
    text-align: start;
  }
  &[position="top-center"] {
    grid-area: tc;
    align-items: center;
    text-align: center;
  }
  &[position="top-right"] {
    grid-area: tr;
    align-items: flex-end;
    text-align: end;
  }
  &[position="left"] {
    grid-area: l;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
  }
  &[position="right"] {
    grid-area: r;
    justify-content: center;
    align-items: flex-end;
    text-align: end;
  }
  &[position="bottom-left"] {
    grid-area: bl;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: start;
  }
  &[position="bottom-center"] {
    grid-area: bc;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
  }
  &[position="bottom-right"] {
    grid-area: br;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: end;
  }
}

.irapha-dicom-viewbox__desc {
  @include position-desc;
  @include typography.label-small;

  color: $color-font;

  display: flex;
  flex-direction: column;

  z-index: 1;
  margin: 8px;
}
