@use "../../../styles/common";
@use "../../../themes/typography" as typography;

@use "../base/scss/layer-popup";

$color-border: var(--color__border);
$color-bg: #333;

.irapha-related-study__inner {
  background-color: $color-bg;

  border-radius: 4px;
  box-shadow: var(--box-shadow__layer-menu);
}

.irapha-related-study__header {
  position: relative;
  padding: 16px;

  border-bottom: 1px dashed $color-border;

  cursor: move;
}

.irapha-related-study__close {
  position: absolute;
  top: 16px;
  right: 16px;
}

.irapha-related-study__user-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.irapha-related-study__user-info__row {
  display: flex;
  gap: 24px;
}

.irapha-related-study__user-info__item {
  width: 20%;

  white-space: nowrap;
}

.irapha-related-study__user-info__title {
  @include typography.body-small;
}

.irapha-related-study__user-info__data {
  @include typography.title-small;

  color: #ccc;
}

// data grid
// =========================================================================
.irapha-related-study__data-grid {
  max-height: 286px;
  overflow: auto;

  thead {
    position: sticky;
    top: 0;
    background-color: $color-bg;
  }

  tbody {
    tr {
      border-color: $color-border !important;
      cursor: pointer;

      &:hover {
        background-color: #ccc;
      }
    }
  }
}
