@use "../styles/common";
@use "../themes/typography" as typography;

$color-border: var(--color__border);

@mixin base-button {
  @include typography.label-large;

  border-radius: 4px;
  padding: 4px 12px;

  cursor: pointer;

  transition: all 0.3s ease-in-out;
}

@mixin outlined-button {
  @include base-button;

  border: 1px solid $color-border;
  color: $color-border;

  background-color: transparent;

  &:hover {
    background-color: $color-border;
  }
}

@mixin contained-button {
  @include base-button;

  border: 1px solid transparent;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}
