$break-points: (
  laptop: 1440px,
);

:root {
  --bar-size: 130px;

  @media (max-width: map-get($break-points, "laptop")) {
    --bar-size: 100px;
  }
}

// break points
:root {
  --break-laptop: map-get($break-points, "laptop");
}
