@use "../../../../../../styles/common";

$color-border: var(--color__border);
$color-bg: #333;

.irapha-related-study__data-grid {
  max-height: 286px;
  overflow: auto;

  thead {
    position: sticky;
    top: 0;
    background-color: $color-bg;
  }

  tbody {
    tr {
      border-color: $color-border !important;
      cursor: pointer;

      &:hover {
        background-color: #ccc;
      }
    }
  }
}
