@use "../../../../../../styles/common";

$color-border: var(--color__border);
$color-font1: var(--color__font-secondary);
$color-bg-primary: var(--color__bg-primary);
$color-table-hover: var(--color__table-hover);

$color-bg: #333;

.irapha-related-study__data-grid {
  max-height: 286px;
  overflow: auto;

  thead {
    position: sticky;
    top: 0;
    background-color: $color-bg-primary;
  }

  tbody {
    tr {
      border-color: $color-border !important;
      cursor: pointer;

      &:hover {
        background-color: $color-table-hover;
        color: $color-font1;
      }

      td {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
