@use "../../../../styles/common";
@use "../../../../themes/colors" as colors;
@use "../../../../themes/typography" as typography;
@use "../../../../themes/shape" as shape;
@use "../../../../styles/input" as input;

@use "../base/style" as layout-popup-base;

$color-border: var(--color__border);
$color-bg: var(--color__bg-primary);

$color-font1: var(--color__font-secondary);
$color-font2: var(--color__font-primary);

.irapha-export-dicom__form {
  @include shape.small;

  display: flex;
  flex-direction: column;

  box-shadow: var(--box-shadow__layer-menu);
  background-color: $color-bg;
}

// Title
// =================================================================
.irapha-export-dicom__title {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom: 1px dashed $color-border;

  cursor: move;
}

.irapha-export-dicom__title__text {
  @include typography.title-medium;
  padding: 8px;
}

.irapha-export-dicom__close {
  position: absolute;
  top: 50%;
  right: 16px;

  transform: translateY(-50%);
}

// Content
// =================================================================
@mixin content-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@mixin content-label {
  label {
    @include typography.label-medium;

    display: flex;
    align-items: center;
    gap: 6px;

    width: fit-content;

    cursor: pointer;
  }
}

@mixin content-input {
  input[type="text"] {
    @include input.input-style;
    width: 50%;
    padding: 0px 4px;
    margin-left: 4px;

    border-radius: 2px;
  }

  input[type="checkbox"][disabled] {
    opacity: 0.3;
  }
}

.irapha-export-dicom__content {
  display: grid;
  grid-template-areas:
    "first first second"
    "first first second"
    "first first third";
  row-gap: 16px;
  column-gap: 36px;

  padding: 24px;

  @include content-label;
  @include content-input;
}

.irapha-export-dicom__content-first {
  grid-area: first;
  @include content-section;
}

.irapha-export-dicom__content-second {
  grid-area: second;
  @include content-section;
}

.irapha-export-dicom__content-third {
  grid-area: third;
  @include content-section;
}

.irapha-export-dicom__content-title {
  @include typography.title-small;
  color: $color-font1;
}

.irapha-export-dicom__content-list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  label {
    min-height: unset;
  }
}

// Footer
// =================================================================
.irapha-export-dicom__footer {
  display: flex;
  justify-content: flex-end;
  gap: 12px;

  padding: 12px;

  border-top: 1px dashed $color-border;
}
