@use "../../../../styles/common";
@use "../../../../themes/typography" as typography;

$color-font: var(--color__primary);

.irapha-thumbnail-box__pagination-info {
  @include typography.label-medium;

  color: $color-font;

  display: flex;
  gap: 2px;
}
