// Base Color
// =================================================================

// 배경 컬러
$bg-black: #000;

// 폰트 컬러
$font-white: #fff;

// 테마별 전역 컬러
// # Default theme
// =================================================================
:root {
  // 네트워크 상태 컬러
  --color__status-danger: #ff3b30;
  --color__status-warning: #ffcc00;
  --color__status-normal: #34c759;

  --color__primary: #34c759;

  --color__secondary: #5e6a7f;
  --color__secondary-container: #333;

  --color__teriary: #4b8eca;
  --color__teriary-container: #142f56;

  --color__font-primary: #ddd;

  --color__border: #eeeeee33;

  // common
  --color__red: #ff3b30;
  --color__orange: #ff9500;
  --color__yellow: #ffcc00;
  --color__green: #34c759;
}
