// 테마별 전역 컬러
// # Default theme
// =================================================================
:root {
  // common
  --color__red: #ff3b30;
  --color__orange: #ff9500;
  --color__yellow: #ffcc00;
  --color__green: #34c759;
  --color__black: #000;
  --color__white: #fff;

  // 네트워크 상태 컬러
  --color__status-danger: var(--color__red);
  --color__status-warning: var(--color__yellow);
  --color__status-normal: var(--color__green);

  // base
  --color__accent: #1e87f0;

  // border
  --color__border: #eeeeee33;
  --color__border-secondary: #eeeeee66;
  --color__border-tertiary: #eeeeee22;

  // font
  --color__font-primary: #ffffffcc;
  --color__font-secondary: #eeeeee99;
  --color__font-reverse-primary: #222;
  --color__font-reverse-secondary: #00000099;

  // bg
  --color__bg-primary: #333;
  --color__bg-secondary: #eeeeee11;

  // popup
  --color__popup-bg-primary: var(--color__bg-primary);

  // table
  --color__table-hover: #ffffff33;

  // menu
  --color__menu-border: var(--color__border-tertiary);
  --color__context-menu-hover-bg: var(--color__bg-secondary);

  // tabs
  --color__tabs-active-bg: #36363a;
  --color__tabs-inactive-bg: #202020;

  // dicom window
  --color__dicom-window-active: var(--color__accent);

  // dicom viewbox
  --color__viewbox-border-weak: #eeeeee22;

  // icons
  --color__icon-default: #aaa;
  --color__icon-hover: var(--color__font-primary);
  --color__icon-active: var(--color__white);

  // canvas
  --color__canvas-text-primary: var(--color__font-primary);
  --color__canvas-text-secondary: var(--color__font-secondary);
}

// light theme
// =========================================================
@mixin light-theme {
  // border
  --color__border: #99999999;
  --color__border-secondary: #ccc;
  --color__border-tertiary: #99999966;

  // font
  --color__font-primary: #222;
  --color__font-secondary: #00000099;
  --color__font-reverse-primary: #ffffffcc;
  --color__font-reverse-secondary: #eeeeee99;

  // bg
  --color__bg-primary: var(--color__white);
  --color__bg-secondary: #eeeeee66;

  // popup
  --color__popup-bg-primary: var(--color__white);

  // table
  --color__table-hover: var(--color__accent-alpha);

  // menu
  --color__menu-border: var(--color__border-tertiary);
  --color__context-menu-hover-bg: var(--color__accent-alpha);

  // tabs
  --color__tabs-active-bg: var(--color__white);
  --color__tabs-inactive-bg: var(--color__accent);

  // dicom window
  --color__dicom-window-active: var(--color__accent);

  // dicom viewbox
  --color__viewbox-border-weak: var(--color__white);

  // icons
  --color__icon-default: #aaa;
  --color__icon-hover: var(--color__font-primary);
  --color__icon-active: var(--color__accent);
}

#irapha-app[theme="light-blue"] {
  @include light-theme;

  --color__accent: #5c91e0;
  --color__accent-alpha: #5c91e033;
}

#irapha-app[theme="rose"] {
  @include light-theme;

  --color__accent: #e9cbc4;
  --color__accent-alpha: #e9cbc433;
}

#irapha-app[theme="sea-foam"] {
  @include light-theme;

  --color__accent: #bbdfde;
  --color__accent-alpha: #bbdfde33;
}
