@use "../../../../../../styles/common";
@use "../../../../../../themes/typography" as typography;

.irapha-related-study__user-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.irapha-related-study__user-info__row {
  display: flex;
  gap: 24px;
}

.irapha-related-study__user-info__item {
  width: 20%;

  white-space: nowrap;
}

.irapha-related-study__user-info__title {
  @include typography.body-small;
}

.irapha-related-study__user-info__data {
  @include typography.title-small;

  color: #ccc;
}
