@use "../../../../../styles/common";
@use "../../../../../themes/typography" as typography;

@use "../menu-item/menu-item" as custom-context-menu__item;

$menu-bg: var(--color__secondary-container);
$box-shadow: var(--box-shadow__layer-menu);

@mixin menu-container {
  position: absolute;

  display: flex;
  flex-direction: column;
  padding: 4px 0;

  border-radius: 4px;
  box-shadow: $box-shadow;

  background-color: $menu-bg;
}

.irapha-context-menu {
  @include menu-container;
  z-index: -1;
}

// context-menu-segment
// =================================================================
$color-border: var(--color__border);

.irapha-context-menu__segment {
  display: none;
  flex-direction: column;

  &.--active {
    display: flex;
  }
}

// context-menu__nav
.irapha-context-menu__nav {
  @include typography.label-small;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 32px;

  border-top: 1px dashed $color-border;
}

// submenu
// =================================================================
@mixin s-submenu {
  &.--direction-left {
    left: unset;
    right: 200px;
  }
}

.irapha-context-menu__item__submenu {
  @include s-submenu;
  position: absolute;
  top: 0;
  left: 200px;

  flex-direction: column;

  display: none;

  border-radius: 4px;
  box-shadow: $box-shadow;

  background-color: $menu-bg;
}
