@use "../../../../styles/common";
@use "../../../../themes/colors" as colors;
@use "../../../../themes/break-point" as break-point;

@use "../menu-manager/menu-manager" as menu-manager;
@use "../../../logo/style" as logo;
@use "../../../selectors/grid-selector/style" as grid-selector;
@use "../../../folding-bar/style" as folding-bar;

// Toolbox
// =================================================================
$bg: var(--color__teriary-container);
$border-color: var(--color__border);

$toolbox-width: 130px;

@mixin l-toolbox {
  &.--layout-column {
    width: $toolbox-width;
    height: 100%;

    .irapha-toolbox__logo {
      border-bottom: 1px dashed $border-color;
    }
  }
}

@mixin s-toolbox {
  &.--shrink-v {
    & {
      height: fit-content;
    }

    .irapha-toolbox__logo {
      min-width: unset;
      width: fit-content;
      aspect-ratio: unset;
    }
  }

  &.--shrink-h {
    & {
      width: fit-content;
    }

    .irapha-toolbox__logo {
      min-width: fit-content;
      width: fit-content;

      height: fit-content;
      aspect-ratio: unset;
    }
  }
}

.irapha-toolbox {
  z-index: 5;
  background-color: $bg;

  height: 80px;

  @include l-toolbox;
  @include s-toolbox;

  &__logo {
    min-width: $toolbox-width;
    width: $toolbox-width;
    aspect-ratio: 16/10;

    border-right: 1px dashed $border-color;
  }
}

// media query - laptop
// =================================================================
$toolbox-width-small: 100px;
$toolbox-height-small: 52px;

@media (max-width: break-point.$laptop) {
  .irapha-toolbox {
    height: $toolbox-height-small;

    &__logo {
      min-width: $toolbox-width-small;
      width: $toolbox-width-small;
    }
  }
}
