@use "../../../../styles/common";
@use "../../../../themes/colors" as colors;
@use "../../../../themes/break-point" as break-point;

@use "../menus-container/menus-container" as menus-container;
@use "../../../logo/style" as logo;
@use "../../../selectors/grid-selector/style" as grid-selector;
@use "../../../folding-bar/style" as folding-bar;

// Toolbox
// =================================================================
$bg: var(--color__bg-primary);
$border-color: var(--color__border);

$toolbox-width: 130px;
$toolbox-width-small: 100px;
$toolbox-height-small: 52px;

@mixin l-toolbox {
  &[layout="column"] {
    min-width: $toolbox-width-small;
    width: $toolbox-width-small;
    height: 100%;

    .irapha-toolbox__logo {
      min-width: unset;
      width: unset;
      border-right: 0;
      border-bottom: 1px dashed $border-color;

      .irapha-logo__logo-image {
        top: 4px;
      }
    }
  }
}

@mixin s-toolbox {
  &[shrink="vertical"] {
    height: fit-content;

    .irapha-toolbox__logo {
      min-width: unset;
      width: fit-content;
      aspect-ratio: unset;

      border: 0;
    }
  }

  &[shrink="horizontal"] {
    min-width: fit-content;
    width: fit-content;

    .irapha-toolbox__logo {
      min-width: fit-content;
      width: fit-content;

      height: fit-content;
      aspect-ratio: unset;

      border: 0;
    }
  }
}

.irapha-toolbox {
  z-index: 5;
  background-color: $bg;

  height: 80px;

  box-shadow: 0px 0px 1px #000;

  @include l-toolbox;
  @include s-toolbox;

  &__logo {
    min-width: $toolbox-width;
    width: $toolbox-width;
    aspect-ratio: 16/10;

    border-right: 1px dashed $border-color;
  }
}

// media query - laptop
// =================================================================
@mixin name-hide {
  .irapha-menu-item[hidable-name="true"] {
    .irapha-menu-item__name {
      display: none;
    }
  }
}

@media (max-width: break-point.$laptop) {
  .irapha-toolbox {
    height: $toolbox-height-small;

    &__logo {
      min-width: $toolbox-width-small;
      width: $toolbox-width-small;
    }

    &:not([layout="column"]) {
      @include name-hide;
    }
  }
}

@media (max-height: break-point.$min-height) {
  .irapha-toolbox {
    &[layout="column"] {
      @include name-hide;
    }
  }
}
