@use "../../styles/common";
@use "../../themes/typography" as typography;
@use "../../themes/shape" as shape;

@mixin menu-name {
  @include typography.label-small;
  color: var(--color__font-primary);

  text-align: center;

  width: 100%;
  white-space: nowrap;

  overflow: hidden;
  text-overflow: ellipsis;
}

// submenu 레이아웃 상태
@mixin l-submenu {
  &[layout="column-two"] {
    .irapha-sub-menu__container__inner {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.irapha-sub-menu {
  .irapha-sub-menu__container {
    @include shape.small;
    background-color: var(--color__bg-primary);
    box-shadow: var(--box-shadow__layer-menu);

    width: fit-content;

    .irapha-sub-menu__container__inner {
      display: flex;
      flex-direction: column;
      gap: 12px;

      padding: 12px 16px;
    }
  }

  @include l-submenu;
}

.irapha-sub-menu__item {
  &__dl {
    display: flex;
    align-items: center;
    gap: 8px;

    cursor: pointer;
  }

  &__name {
    @include menu-name;
    text-align: start;
  }
}
