<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toolbox Preview</title>

    <!-- UIkit -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/css/uikit.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/js/uikit-icons.min.js"></script>

    <link rel="stylesheet" href="./toolbox.css" />
    <script defer type="module" src="./toolbox.js"></script>
  </head>

  <body>
    <!-- Toolbox -->
    <div class="irm-toolbox">
      <div class="irm-toolbox__drag-area">
        <span class="irm-toolbox__folding-icon"></span>
      </div>

      <div class="irm-toolbox__menu-wrapper">
        <ul class="irm-toolbox__menu">
          <!-- WorkList -->
          <li class="irm-toolbox__item">
            <dl class="irm-toolbox__item__content">
              <dt>
                <img src="https://via.placeholder.com/24" alt="icon" />
              </dt>

              <dd class="irm-toolbox__item__name">name</dd>
            </dl>
          </li>

          <!-- Report -->
          <li class="irm-toolbox__item">
            <dl class="irm-toolbox__item__content">
              <dt>
                <img src="https://via.placeholder.com/24" alt="icon" />
              </dt>

              <dd class="irm-toolbox__item__name">name</dd>
            </dl>
          </li>

          <!-- Prev Study -->
          <li class="irm-toolbox__item">
            <dl class="irm-toolbox__item__content">
              <dt>
                <img src="https://via.placeholder.com/24" alt="icon" />
              </dt>

              <dd class="irm-toolbox__item__name">name</dd>
            </dl>

            <div class="irm-toolbox__popup">
              <ul class="irm-toolbox__menu --row">
                <li class="irm-toolbox__item">
                  <dl class="irm-toolbox__item__content">
                    <dt>
                      <img src="https://via.placeholder.com/24" alt="icon" />
                    </dt>

                    <dd class="irm-toolbox__item__name">name</dd>
                  </dl>
                </li>

                <li class="irm-toolbox__item">
                  <dl class="irm-toolbox__item__content">
                    <dt>
                      <img src="https://via.placeholder.com/24" alt="icon" />
                    </dt>

                    <dd class="irm-toolbox__item__name">name</dd>
                  </dl>

                  <div class="irm-toolbox__popup">
                    <ul class="irm-toolbox__menu">
                      <li class="irm-toolbox__item">
                        <dl class="irm-toolbox__item__content">
                          <dt>
                            <img
                              src="https://via.placeholder.com/24"
                              alt="icon"
                            />
                          </dt>

                          <dd class="irm-toolbox__item__name">name</dd>
                        </dl>
                      </li>

                      <li class="irm-toolbox__item">
                        <dl class="irm-toolbox__item__content">
                          <dt>
                            <img
                              src="https://via.placeholder.com/24"
                              alt="icon"
                            />
                          </dt>

                          <dd class="irm-toolbox__item__name">name</dd>
                        </dl>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>

          <!-- Next Study -->
          <li class="irm-toolbox__item">
            <dl class="irm-toolbox__item__content">
              <dt>
                <img src="https://via.placeholder.com/24" alt="icon" />
              </dt>

              <dd class="irm-toolbox__item__name">name</dd>
            </dl>
          </li>

          <!-- Virtual Layout -->
          <li class="irm-toolbox__item">
            <dl class="irm-toolbox__item__content">
              <dt>
                <img src="https://via.placeholder.com/24" alt="icon" />
              </dt>

              <dd class="irm-toolbox__item__name">name</dd>
            </dl>
          </li>

          <!-- Window Mode -->
          <li class="irm-toolbox__item">
            <dl class="irm-toolbox__item__content">
              <dt>
                <img src="https://via.placeholder.com/24" alt="icon" />
              </dt>

              <dd class="irm-toolbox__item__name">name</dd>
            </dl>
          </li>

          <!-- Display Layout -->
          <li class="irm-toolbox__item">
            <dl class="irm-toolbox__item__content">
              <dt>
                <img src="https://via.placeholder.com/24" alt="icon" />
              </dt>

              <dd class="irm-toolbox__item__name">name</dd>
            </dl>
          </li>

          <!-- Combine Series -->
          <li class="irm-toolbox__item">
            <dl class="irm-toolbox__item__content">
              <dt>
                <img src="https://via.placeholder.com/24" alt="icon" />
              </dt>

              <dd class="irm-toolbox__item__name">name</dd>
            </dl>
          </li>

          <!-- Apply to All -->
          <li class="irm-toolbox__item">
            <dl class="irm-toolbox__item__content">
              <dt>
                <img src="https://via.placeholder.com/24" alt="icon" />
              </dt>

              <dd class="irm-toolbox__item__name">name</dd>
            </dl>
          </li>

          <!-- Display Info -->
          <li class="irm-toolbox__item">
            <dl class="irm-toolbox__item__content">
              <dt>
                <img src="https://via.placeholder.com/24" alt="icon" />
              </dt>

              <dd class="irm-toolbox__item__name">name</dd>
            </dl>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
