@use "../../../../styles/common";

$border-color: var(--color__border);

$folding-bar: (
  width: var(--bar-size),
  min-size: 28px,
);

// Drag point
// =================================================================
@mixin drag-point--layout-column {
  &.irapha-drag-point {
    justify-content: flex-start;
    width: 100%;
    height: 28px;

    border-left: 0;
    border-right: 0;
    border-top: 1px;
    border-bottom: 1px;
    border-style: dashed;
    border-color: $border-color;
  }
}

.irapha-drag-point {
  display: flex;
  justify-content: center;

  min-width: map-get($folding-bar, "min-size");
  width: map-get($folding-bar, "min-size");
  height: 100%;

  padding: 4px;

  border-left: 1px;
  border-right: 1px;
  border-style: dashed;
  border-color: $border-color;

  box-shadow: 0px 0px 2px $border-color;

  cursor: grab;
}

// Folding bar
// =================================================================
@mixin l-folding-bar {
  &.--layout-column {
    & {
      flex-direction: column;
      height: 100%;
      // min-width: map-get($folding-bar, "width");

      .irapha-drag-point {
        @include drag-point--layout-column;
      }
    }
  }
}

@mixin s-folding-bar {
  &.--shrink-h {
    & {
      min-width: unset;
      width: map-get($folding-bar, "min-size");
    }
  }

  &.--shrink-v {
    & {
      height: map-get($folding-bar, "min-size");
    }
  }
}

.irapha-folding-bar {
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 4;

  @include l-folding-bar;
  @include s-folding-bar;
}
