@use "../../../../styles/common";

// Folding bar
// =================================================================
$min-size: 32px;

// 폴딩바 레이아웃
@mixin l-folding-bar {
  &[layout-column="true"] {
    &,
    & > * {
      flex-direction: column;
      height: 100%;
    }
  }
}

// 폴딩바 상태
@mixin s-folding-bar {
  &[shrink="horizontal"] {
    min-width: unset;
    width: $min-size;
  }

  &[shrink="vertical"] {
    height: $min-size;
  }
}

.irapha-folding-bar {
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 4;

  & > * {
    display: flex;
    width: 100%;
  }

  @include l-folding-bar;
  @include s-folding-bar;
}
