@use "../../../../../../../styles/common";
@use "../../../../../../../themes/shape" as shape;
@use "../../../../../../../themes/typography" as typography;

@use "../menu-item/menu-item" as custom-context-menu__item;

$menu-bg: var(--color__popup-bg-primary);
$box-shadow: var(--box-shadow__layer-menu);

.irapha-context-menu {
  @include shape.small;

  position: absolute;

  display: flex;
  flex-direction: column;
  padding: 4px 0;

  box-shadow: $box-shadow;
  background-color: $menu-bg;

  z-index: -1;
}

// context-menu-segment
// =================================================================
$color-border: var(--color__border);

.irapha-context-menu__segment {
  display: none;
  flex-direction: column;

  &[active="true"] {
    display: flex;
  }
}

// context-menu__nav
.irapha-context-menu__nav {
  @include typography.label-small;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 32px;

  border-top: 1px dashed $color-border;
}

// submenu
// =================================================================
@mixin s-submenu {
  &[direction-left="true"] {
    left: unset;
    right: 200px;
  }
}

.irapha-context-menu__item__submenu {
  @include shape.small;
  @include s-submenu;

  position: absolute;
  top: 0;
  left: 200px;

  flex-direction: column;

  display: none;

  box-shadow: $box-shadow;
  background-color: $menu-bg;
}
