@use "../../../styles/common";
@use "../../../themes/colors" as colors;
@use "../../../themes/typography" as typography;
@use "../../../themes/shape" as shapes;

// Mixins
// =========================================================================
@mixin l-menu {
  &.is-layout {
    // 세로 2 배치.
    &--column-two {
      grid-auto-flow: unset;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@mixin s-menu {
  &.is-state {
    // 아이콘 제목 숨기기
    &--name-hide {
      .irapha-toolbox__menu {
        &__item__content {
          width: fit-content;

          &__name {
            display: none;
          }
        }
      }
    }
  }
}

@mixin menu-name {
  @include typography.label-small;

  text-align: center;

  width: 100%;
  white-space: nowrap;

  overflow: hidden;
  text-overflow: ellipsis;
}

// Styles
// =================================================================
.irapha-menu-icon {
  border-radius: shapes.$small;

  width: 36px;
  min-width: 24px;
  aspect-ratio: 1;

  overflow: hidden;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
  }
}

.irapha-toolbox__menu {
  display: grid;
  grid-auto-flow: column;
  gap: 12px;

  width: fit-content;

  @include l-menu;
  @include s-menu;

  &__item {
    &__content {
      position: relative;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;

      width: 50px;

      border: none;

      &__name {
        @include menu-name;
        color: colors.$font-white;
      }
    }
  }
}

// divider
// Mixins
// =========================================================================
@mixin l-divider {
  &.is-layout {
    &--column {
      width: 65%;
      min-height: 4px;
      padding: 0;
      margin: 16px 0;
      align-self: unset;
    }
  }
}

@mixin s-divider {
  &.is-state {
    &--align-self-center {
      align-self: center;
      margin: 16px;
    }
  }
}

// Styles
// =================================================================
.irapha-toolbox__divider {
  border-radius: 36px;
  align-self: flex-start;

  min-width: 4px;
  height: auto;

  padding: 16px 0;
  margin: 14px 16px 0 16px;

  background-color: #000;

  @include l-divider;
  @include s-divider;
}

// menu drop down
// Mixins
// =========================================================================
@mixin l-dropdown {
  &[irm-dropdown*="is-layout--column-two"] {
    .irapha-menu__dropdown {
      &__container {
        &__inner {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}

// Styles
// =================================================================
.irapha-menu__dropdown {
  @include l-dropdown;

  &__container {
    background-color: #eeeeeeeb;

    border-radius: 4px;
    box-shadow: 0px 0px 10px #666;

    width: fit-content;
    padding: 12px 16px;

    &__inner {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }

  &__item {
    &__dl {
      display: flex;
      align-items: center;
      gap: 8px;

      cursor: pointer;

      transition: all 0.2s ease-in-out;

      &:hover {
        opacity: 0.6;
      }
    }

    &__name {
      @include menu-name;
      text-align: start;
    }
  }
}
