@use "../../../styles/common";
@use "../../../themes/theme" as theme;

@use "./menu" as menu;
@use "./menu-manager" as menu-manager;
@use "../../logo/style" as logo;
@use "../../grid-selector/style" as grid-selector;

// Variables
// =========================================================================
$bg: var(--color__teriary-container);
$border-color: #eeeeee33;

$toolbox: (
  width: 130px,
  height: 80px,
  min-size: 28px,
);

@mixin s-toolbox {
  &.--shrink-v {
    .irapha-toolbox__logo {
      width: fit-content;
      aspect-ratio: unset;
    }
  }
}

// Styles
// =================================================================
.irapha-toolbox {
  z-index: 5;
  background-color: $bg;

  @include s-toolbox;

  &__logo {
    width: map-get($toolbox, "width");
    aspect-ratio: 16/10;
  }
}
