<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Viewer-info Preview</title>

    <link rel="stylesheet" href="./viewer-info.css">
  </head>
  <body>

    <div class="irm-viewer-info">
        <h1 class="irm-viewer-info__title">I-Rapha View v2.0.1</h1>

        <address class="irm-viewer-info__content">
          <p class="irm-viewer-info__help">Help <b>bizinfo@irm.kr</b></p>

          <div class="irm-viewer-info__divider"></div>

          <div>
            <div><b>IRM Inc.</b>8th-2, HongWoo Bldg,</div>
            <div>15, Yeoksam-ro 8-gil, Gangnam-gu,</div>
            <div>Seoul,</div>
            <div>06250, Republic of Korea</div>
          </div>
        </address>

        <div class="irm-viewer-info__footer">
          <img
            class="irm-viewer-info__barcode"
            src="/assets/images/img_barcode.jpg"
            alt="barcode"
          />
          <img class="irm-viewer-info__logo" src="/assets/images/logo.png" alt="logo" />
        </div>
      </div>
    </div>

  </body>
</html>
