@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.css");
* {
  box-sizing: border-box;
}

b {
  font-weight: bold;
}

.irm-viewer-info {
  width: 280px;
  aspect-ratio: 0.912;
  padding: 20px;
  background-color: #000;
  border-radius: 8px;
}
.irm-viewer-info .irm-viewer-info__title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.irm-viewer-info .irm-viewer-info__content {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.irm-viewer-info .irm-viewer-info__content .irm-viewer-info__help {
  margin-top: 8px;
}
.irm-viewer-info .irm-viewer-info__content .irm-viewer-info__divider {
  width: 100%;
  height: 1px;
  background-color: rgba(238, 238, 238, 0.2);
  margin: 8px 0;
}
.irm-viewer-info .irm-viewer-info__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}
.irm-viewer-info .irm-viewer-info__footer .irm-viewer-info__barcode {
  width: 100%;
}
.irm-viewer-info .irm-viewer-info__footer .irm-viewer-info__logo {
  width: 40%;
  aspect-ratio: 16/9;
  margin-top: 8px;
}

.irm-logo {
  height: 100%;
}
.irm-logo .irm-logo__container {
  position: relative;
  height: 100%;
  aspect-ratio: 16/10;
}
.irm-logo .irm-logo__container .irm-logo__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 82%;
  height: 100%;
}
.irm-logo .irm-logo__container .irm-logo__wrapper .irm-logo__logo {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  transition: all 0.3 ease-in-out;
}
.irm-logo .irm-logo__container .irm-logo__menus {
  position: relative;
  z-index: 2;
  display: flex;
  padding: 4px;
}
.irm-logo .irm-logo__container .irm-logo__menus .irm-logo__maximize-icon-wrapper {
  position: relative;
  width: 20px;
  aspect-ratio: 1;
  cursor: pointer;
}
.irm-logo .irm-logo__container .irm-logo__menus .irm-logo__maximize-icon-wrapper .irm-logo__maximize-icon {
  position: absolute;
  width: 100%;
  aspect-ratio: 1;
}

.irm-network-status {
  position: relative;
  width: 20px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}
.irm-network-status .irm-network-status__icon {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
}
.irm-network-status .irm-network-status__icon.--red {
  background-color: red;
}
.irm-network-status .irm-network-status__icon.--yellow {
  background-color: yellow;
}
.irm-network-status .irm-network-status__icon.--green {
  background-color: green;
}

.irm-toolbox {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  transition: all 0.3s ease-in-out;
  background-color: #35455e;
}
.irm-toolbox.is-state--shrink {
  height: 30px;
  overflow: hidden;
}
.irm-toolbox:hover {
  height: 80px;
  overflow: visible;
}

.irm-toolbox__drag-area {
  height: 100%;
  padding: 4px;
  align-self: flex-start;
  border-left: 1px;
  border-right: 1px;
  border-style: solid;
  border-color: rgba(238, 238, 238, 0.2);
  box-shadow: 0px 0px 2px rgba(238, 238, 238, 0.2);
  cursor: -webkit-grab;
  cursor: grab;
}

.irm-folding-toggle-button {
  width: 16px;
  aspect-ratio: 1;
  cursor: pointer;
  color: #fff;
}

.irm-toolbox__menu-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: scroll;
  transition: all 0.3s ease-in-out;
}
.irm-toolbox__menu-container.is-state--disabled > * {
  opacity: 0;
  pointer-events: none;
}

.irm-toolbox__menu {
  padding: 0 16px;
  transition: all 0.3s ease-in-out;
}
.irm-toolbox__menu__inner {
  display: grid;
  grid-auto-flow: column;
  gap: 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.irm-toolbox__menu__inner.is-layout--single-row {
  grid-auto-flow: row;
}
.irm-toolbox__menu__inner.is-layout--column-two {
  grid-auto-flow: unset;
  grid-template-columns: repeat(2, 1fr);
}

.irm-toolbox__item__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 50px;
  border: none;
}
.irm-toolbox__item__content.is-name--hide .irm-toolbox__item__content__name {
  display: none;
}
.irm-toolbox__item__content__icon {
  border-radius: 4px;
  width: 36px;
  aspect-ratio: 1;
  overflow: hidden;
  cursor: pointer;
}
.irm-toolbox__item__content__icon img {
  width: 100%;
  height: 100%;
}
.irm-toolbox__item__content__name {
  font-size: 11px;
  line-height: 16px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.irm-toolbox__divider {
  width: 2px;
  min-width: 2px;
  height: 30%;
  align-self: flex-start;
  margin-top: 16px;
  background-color: rgba(238, 238, 238, 0.2);
}