@use "../../../../../styles/common";
@use "../../../../../themes/shape" as shape;

// grid item
// =================================================================

$color-active: #4b8eca;
$color-default: #5e6a7f;

@mixin s-grid-item {
  // 아이템 활성화
  &[irapha-grid-selector*="active: true"] {
    background-color: $color-active;
  }
}

.irapha-grid-selector__item {
  @include shape.small;
  @include s-grid-item;

  background-color: $color-default;
}
