// thumbnail box - nav
// =================================================================
$color-font1: var(--color__font-primary);
$color-bg-focus: #ffffff11;
$color-border: var(--color__border);

.irapha-thumbnail-box__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  width: 100%;
}

.irapha-thumbnail-box__nav__icon {
  border: 1px solid $color-border;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  aspect-ratio: 1;

  padding: 4px;

  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: $color-bg-focus;
    border-color: $color-font1;

    transform: scale(1.2);

    img {
      opacity: unset;
    }
  }

  img {
    width: 8px;
    aspect-ratio: 1;

    transition: all 0.3s ease-in-out;

    opacity: 0.5;
  }
}
