<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sticky menu Preview</title>

    <!-- RxJS -->
    <script
      defer
      src="https://unpkg.com/rxjs@^7/dist/bundles/rxjs.umd.min.js"
    ></script>

    <link rel="stylesheet" href="./preview.css" />
    <script defer type="module" src="./preview.js"></script>
  </head>
  <body>
    <!-- Sticky Menu  -->
    <div class="irapha-sticky-menu">
      <div class="irapha-sticky-menu__dropzone dropzone-top">
        <div draggable="true"></div>
        <div draggable="true"></div>
      </div>
      <div class="irapha-sticky-menu__dropzone dropzone-left"></div>
      <div class="irapha-sticky-menu__dropzone dropzone-right"></div>
      <div class="irapha-sticky-menu__dropzone dropzone-bottom"></div>
    </div>
  </body>
</html>
