@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.css");
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

b {
  font-weight: bold;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.2);
}

*::-webkit-scrollbar-corner {
  background-color: transparent;
}

.irapha-maximize__icon {
  cursor: pointer;
}
.irapha-maximize__icon__image {
  position: absolute;
  width: 100%;
  aspect-ratio: 1;
}

.irapha-network-status {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}
.irapha-network-status__icon {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
}
.irapha-network-status__icon.is-state--red {
  background-color: red;
}
.irapha-network-status__icon.is-state--yellow {
  background-color: yellow;
}
.irapha-network-status__icon.is-state--green {
  background-color: green;
}

.irapha-viewer-info {
  width: 280px;
  aspect-ratio: 0.912;
  padding: 20px;
  background-color: #000;
  border-radius: 8px;
}
.irapha-viewer-info__title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.irapha-viewer-info__content {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.irapha-viewer-info__content__help {
  margin-top: 8px;
}
.irapha-viewer-info__content__divider {
  width: 100%;
  height: 1px;
  background-color: rgba(238, 238, 238, 0.2);
  margin: 8px 0;
}
.irapha-viewer-info__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}
.irapha-viewer-info__footer__barcode {
  width: 100%;
}
.irapha-viewer-info__footer__logo {
  width: 40%;
  aspect-ratio: 16/9;
  margin-top: 8px;
}

.irapha-logo {
  position: relative;
  z-index: 1;
}
.irapha-logo.is-state--shrink-vertical.irapha-logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
}
.irapha-logo.is-state--shrink-vertical.irapha-logo__container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-self: flex-start;
}
.irapha-logo.is-state--shrink-vertical.irapha-logo .irapha-logo__logo-image {
  display: none;
}
.irapha-logo.is-state--shrink-horizontal.irapha-logo .irapha-logo__container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.irapha-logo.is-state--shrink-horizontal.irapha-logo .irapha-logo__menus {
  flex-direction: column;
}
.irapha-logo.is-state--shrink-horizontal.irapha-logo .irapha-logo__logo-image {
  display: none;
}
.irapha-logo__container {
  position: relative;
  height: 100%;
  aspect-ratio: 16/10;
}
.irapha-logo__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 82%;
  height: 100%;
}
.irapha-logo__logo-image {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  transition: all 0.1 ease-in-out;
}
.irapha-logo__menus {
  position: relative;
  z-index: 2;
  display: flex;
  padding: 4px;
}

.irapha-maximize__icon {
  position: relative;
  width: 20px;
  aspect-ratio: 1;
}

.irapha-network-status {
  position: relative;
  width: 20px;
  aspect-ratio: 1;
}

.irapha-toggle-expand {
  width: 12px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  aspect-ratio: 1;
  margin: 2px;
  color: #fff;
  cursor: pointer;
}

.irapha-toolbox__menu {
  display: grid;
  grid-auto-flow: column;
  gap: 12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.irapha-toolbox__menu.is-layout--column-two {
  grid-auto-flow: unset;
  grid-template-columns: repeat(2, 1fr);
}
.irapha-toolbox__menu.is-state--name-hide .irapha-toolbox__menu__item__content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.irapha-toolbox__menu.is-state--name-hide .irapha-toolbox__menu__item__content__name {
  display: none;
}
.irapha-toolbox__menu__item__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 50px;
  border: none;
}
.irapha-toolbox__menu__item__content__icon {
  border-radius: 4px;
  width: 36px;
  aspect-ratio: 1;
  overflow: hidden;
  cursor: pointer;
}
.irapha-toolbox__menu__item__content__icon img {
  width: 100%;
  height: 100%;
}
.irapha-toolbox__menu__item__content__name {
  font-size: 11px;
  line-height: 16px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.irapha-toolbox__divider {
  border-radius: 36px;
  align-self: flex-start;
  min-width: 4px;
  height: auto;
  padding: 16px 0;
  margin: 14px 16px 0 16px;
  background-color: #000;
}
.irapha-toolbox__divider.is-layout--column {
  width: 65%;
  min-height: 4px;
  padding: 0;
  margin: 16px 0;
  align-self: unset;
}
.irapha-toolbox__divider.is-state--align-self-center {
  align-self: center;
  margin: 16px;
}

.irapha-toolbox {
  display: flex;
  width: 100%;
  height: 80px;
  transition: all 0.2s ease-in-out;
  background-color: #35455e;
}
.irapha-toolbox.is-layout--column.irapha-toolbox {
  flex-direction: column;
  height: 100%;
  width: 130px;
}
.irapha-toolbox.is-layout--column .irapha-toolbox__logo {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.irapha-toolbox.is-layout--column .irapha-toolbox__drag-point {
  width: 100%;
  height: 28px;
  justify-content: flex-start;
  border-top: 1px;
  border-bottom: 1px;
  border-left: 0;
  border-right: 0;
  border-style: dashed;
  border-color: rgba(238, 238, 238, 0.2);
  box-shadow: 0px 0px 2px rgba(238, 238, 238, 0.2);
  margin: 2px 0;
}
.irapha-toolbox.is-layout--column .irapha-toolbox__menus {
  flex: 1;
  flex-direction: column;
  padding: 24px 0;
}
.irapha-toolbox.is-shrink--horizontal.irapha-toolbox {
  width: 28px;
}
.irapha-toolbox.is-shrink--horizontal .irapha-toolbox__menus {
  display: none;
}
.irapha-toolbox.is-shrink--vertical.irapha-toolbox {
  height: 28px;
}
.irapha-toolbox.is-shrink--vertical .irapha-toolbox__logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  aspect-ratio: unset;
}
.irapha-toolbox.is-shrink--vertical .irapha-toolbox__menus {
  display: none;
}
.irapha-toolbox__logo {
  width: 130px;
  aspect-ratio: 16/10;
}
.irapha-toolbox__drag-point {
  display: flex;
  justify-content: center;
  width: 28px;
  height: 100%;
  padding: 4px;
  border-left: 1px;
  border-right: 1px;
  border-style: dashed;
  border-color: rgba(238, 238, 238, 0.2);
  box-shadow: 0px 0px 2px rgba(238, 238, 238, 0.2);
}
.irapha-toolbox__menus {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 24px;
  overflow-y: hidden;
  overflow-x: auto;
}

.irapha-sticky-menu {
  position: relative;
  width: 100%;
  height: 100%;
}

.dropzone-top {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 48px;
}

.dropzone-left {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  min-width: 48px;
  height: 100%;
}

.dropzone-right {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  min-width: 48px;
  height: 100%;
}

.dropzone-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  min-height: 48px;
}