@use "../../libs/uikit-3.14.3/css/uikit.min.css" as uikit;
@use "../../libs//reset-5.0.1/reset.css" as reset;

@use "../../common/components/toolbox/style" as toolbox;
@use "../../common/components/sticky-menu/style" as sticky-menu;

@use "../../common/components/folding-bar/style" as folding-bar;

.irapha-thumbnail-box {
  width: 56px;
  height: 56px;
  background-color: blue;
  z-index: 4;
}
