@use "../../libs/uikit-3.14.3/css/uikit.min.css" as uikit;
@use "../../libs//reset-5.0.1/reset.css" as reset;

@use "../../common/components/toolbox/style" as toolbox;
@use "../../common/components/sticky-menu/style" as sticky-menu;

@use "../../common/components/grid-selector/style" as grid-selector;

// sticky
// =================================================================
@mixin l-column-first {
  grid-template-areas:
    "top top top top"
    "left content content right"
    "left content content right"
    "bottom bottom bottom bottom";
}

@mixin l-row-first {
  grid-template-areas:
    "left top top right"
    "left content content right"
    "left content content right"
    "left bottom bottom right";
}

@mixin s-sticky-menu1 {
  // layout: 상하 요소 우선 레이아웃
  &[sticky-menu*="layout: column-first"] {
    @include l-column-first;

    .irapha-sticky-menu1__dropzone {
      &.--left {
        z-index: 4;
      }
      &.--right {
        z-index: 4;
      }
    }
  }

  // layout: 좌우 요소 우선 레이아웃
  &[sticky-menu*="layout: row-first"] {
    @include l-row-first;

    .irapha-sticky-menu1__dropzone {
      &.--top {
        z-index: 4;
      }
      &.--bottom {
        z-index: 4;
      }
    }
  }
}

.irapha-sticky-menu1 {
  display: grid;
  width: 100%;
  height: 100%;

  grid-template-rows: fit-content(0) 1fr 1fr fit-content(0);
  grid-template-columns: fit-content(0) 1fr 1fr fit-content(0);

  background-color: #333;

  @include l-column-first;
  @include s-sticky-menu1;
}

// dropzone
// =================================================================
$dropzone-min-size: 48px;

@mixin s-dropzone {
  &.--active {
    position: static;
    z-index: 3;
  }
}

.irapha-sticky-menu1__dropzone {
  &.--top {
    grid-area: top;
    align-self: flex-start;

    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;

    @include s-dropzone;
  }

  &.--left {
    grid-area: left;
    justify-self: flex-start;

    position: absolute;
    display: flex;
    width: fit-content;
    height: 100%;

    @include s-dropzone;
  }

  &.--right {
    grid-area: right;
    justify-self: flex-end;

    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    width: fit-content;
    height: 100%;

    @include s-dropzone;
  }

  &.--bottom {
    grid-area: bottom;
    align-self: flex-end;

    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: fit-content;

    @include s-dropzone;
  }
}

// =================================================================

@mixin box {
  width: 60px;
  aspect-ratio: 1;
  cursor: pointer;
}

.bar1 {
  @include box;
  background-color: red;
  z-index: 4;
}

.bar2 {
  @include box;
  background-color: blue;
  z-index: 4;
}

.content {
  grid-area: content;

  width: 100%;
  height: 100%;
  background-color: gold;
}
