@use "../../libs/uikit-3.14.3/css/uikit.min.css" as uikit;
@use "../../libs//reset-5.0.1/reset.css" as reset;

@use "../../common/components/icons/style" as icons;

@use "../../common/components/toolbox/style" as toolbox;
@use "../../common/components/thumbnail-box/style" as thumbnail-box;
@use "../../common/components/sticky-menu/style" as sticky-menu;

@use "../../common/components/tabs/style" as tabs;

@use "../../common/components/layer-popup/style" as layer-popup;

@use "../../common/components/dicom-window/style" as dicom-window;
@use "../../common/components/dicom-viewbox/style" as dicom-viewbox;

.content {
  grid-area: content;

  width: 100%;
  height: 100%;
}
