@use "../../../../styles/common";
@use "../../../../themes/break-point" as break-point;

@use "../../../selectors/kin-selector/style" as kin-selector;
@use "../thumbnail-list/scss/thumbnail-list" as thumbnail-list;
@use "../../../folding-bar/style" as folding-bar;

$color-border: var(--color__border);

@mixin l-thumbnail-box {
  &.--layout-column {
    height: 100%;

    .irapha-thumbnail-box__options {
      border: 0;
    }
  }
}

@mixin s-thumbnail-box {
  &.--shrink-v {
    & {
      height: fit-content;

      .irapha-thumbnail-box__options {
        border: 0;
      }
    }
  }
}

.irapha-thumbnail-box {
  z-index: 4;

  height: var(--bar-size);

  box-shadow: 0px 0px 1px #000;

  @include l-thumbnail-box;
  @include s-thumbnail-box;
}

.irapha-thumbnail-box__options {
  padding: 4px;

  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 4px;

  min-width: 130px;
  border-right: 1px dashed $color-border;
}

// media query - laptop
// =================================================================
@media (max-width: break-point.$laptop) {
  .irapha-thumbnail-box {
    &.--layout-column {
      .irapha-thumbnail-box__options {
        flex-wrap: wrap;
        align-items: center;
        min-width: unset;
      }
    }

    &:not(.--layout-column) {
      .irapha-thumbnail-box__options {
        min-width: 100px;
        max-width: 100px;

        flex-wrap: wrap;
      }
    }
  }
}
