@use "../../../styles/common";

@use "../elements/controls/controls" as thumbnail-box__control;
@use "../../folding-bar/style" as folding-bar;
@use "../elements/thumbnail-list/scss/thumbnail-list" as thumbnail-list;

@mixin l-thumbnail-box {
  &.--layout-column {
    height: 100%;
  }
}

@mixin s-thumbnail-box {
  &.--shrink-v {
    & {
      height: fit-content;
    }
  }
}

.irapha-thumbnail-box {
  z-index: 4;

  height: var(--bar-size);

  @media (max-width: var(--break-laptop)) {
    height: 100px;
  }

  @include l-thumbnail-box;
  @include s-thumbnail-box;
}
