@use "../../../../../styles/common";
@use "../../../../../themes/shape" as shape;

@use "../item/grid-selector.item";

$color-container-bg: #424a5b;

.irapha-grid-selector {
  @include shape.small;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3%;

  width: 160px;
  aspect-ratio: 1;

  padding: 3%;

  background-color: $color-container-bg;
}
