@use "../../../styles/common";
@use "../../../themes/colors" as colors;
@use "../../../themes/shape" as shapes;
@use "../../../themes/typography" as typography;

$bg: colors.$bg-black;
$font-color: colors.$font-white;

// 뷰어 정보
.irapha-viewer-info {
  width: 280px;
  aspect-ratio: 0.912;

  padding: 20px;

  background-color: $bg;
  border-radius: shapes.$medium;

  &__title {
    @include typography.title-medium;

    color: $font-color;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    @include typography.body-small;

    color: $font-color;

    display: flex;
    flex-direction: column;

    margin-top: 16px;

    &__help {
      margin-top: 8px;
    }

    &__divider {
      width: 100%;
      height: 1px;
      background-color: var(--color__border);

      margin: 8px 0;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 24px;

    &__barcode {
      width: 100%;
    }

    &__logo {
      width: 40%;
      aspect-ratio: 16/9;

      margin-top: 8px;
    }
  }
}
