@use "../../../../styles/common";
@use "../../../../styles/anim" as anim;
@use "../../../../styles/input" as input;
@use "../../../../themes/typography" as typography;

// cineplay-controller
// =================================================================
$color-font1: var(--color__font-secondary);
$color-font2: var(--color__font-primary);
$color-border: var(--color__border);
$color-black: var(--color__black);
$color-orange: var(--color__orange);

.irapha-cineplay-controller {
  display: flex;
  flex-direction: column;
  gap: 6px;

  width: 100%;

  border-top: 1px dashed $color-border;
  padding: 8px;

  background-color: $color-black;

  white-space: nowrap;
}

.irapha-cineplay-controller__wrapper {
  display: flex;
  gap: 8px;
}

// progress bar
// =================================================================
.irapha-cineplay-controller__progress {
  height: 10px;

  margin: 0;
  background: transparent;

  border-radius: 2px;
  border: 1px solid $color-border;
}

// play-type
// =========================================================================
.irapha-cineplay-controller__play-type {
  @include input.input-style;
  @include typography.label-small;

  min-width: 60px;
  max-width: 60px;

  color: $color-font1;

  cursor: pointer;

  &.uk-select:focus {
    @include input.focus;
  }
}

// nav
// =========================================================================
.irapha-cineplay-controller__nav {
  display: flex;
  align-items: center;

  fill: $color-font1;

  & > li {
    @include anim.basic-transition;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
      fill: $color-font2;
    }
  }
}

// FPS-box
// =========================================================================
.irapha-cineplay-controller__FPS-box {
  display: flex;
  align-items: center;
  gap: 8px;

  &__input-wrapper {
    @include typography.label-small;

    position: relative;

    input {
      @include input.input-style;

      width: 68px;

      &:focus {
        width: 88px;
      }
    }
  }

  &__frame-count {
    @include typography.label-small;
    color: $color-font1;
  }
}

// loop-box
// =========================================================================
.irapha-cineplay-controller__loop-box {
  display: flex;
  align-items: center;

  &__item {
    @include anim.basic-transition;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }

    &[marked="true"] {
      svg {
        fill: $color-orange;
      }
    }
  }
}
