@use "../../../styles/common";
@use "../../styles/mobile-common";
@use "../../../themes/colors" as colors;

@use "../../../components/kit/style" as kit;

$color-bg: var(--color__secondary-container);

.irapha-mobile__login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  width: 100%;
  height: 100%;

  background-color: $color-bg;
}

.irapha-mobile__login-page__logo-wrapper {
  margin-top: 20vh;

  width: 40%;
  max-height: 20vh;
  aspect-ratio: 16/8;
}

.irapha-mobile__login-page__logo {
  width: 100%;
  height: 100%;
}
