html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

b {
  font-weight: bold;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.2);
}

*::-webkit-scrollbar-corner {
  background-color: transparent;
}

.irapha-maximize__icon {
  cursor: pointer;
}
.irapha-maximize__icon__image {
  position: absolute;
  width: 100%;
  aspect-ratio: 1;
}

.irapha-network-status {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}
.irapha-network-status__icon {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
}
.irapha-network-status__icon.is-state--red {
  background-color: red;
}
.irapha-network-status__icon.is-state--yellow {
  background-color: yellow;
}
.irapha-network-status__icon.is-state--green {
  background-color: green;
}

.irapha-viewer-info {
  width: 280px;
  aspect-ratio: 0.912;
  padding: 20px;
  background-color: #000;
  border-radius: 8px;
}
.irapha-viewer-info__title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.irapha-viewer-info__content {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.irapha-viewer-info__content__help {
  margin-top: 8px;
}
.irapha-viewer-info__content__divider {
  width: 100%;
  height: 1px;
  background-color: rgba(238, 238, 238, 0.2);
  margin: 8px 0;
}
.irapha-viewer-info__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}
.irapha-viewer-info__footer__barcode {
  width: 100%;
}
.irapha-viewer-info__footer__logo {
  width: 40%;
  aspect-ratio: 16/9;
  margin-top: 8px;
}

.irapha-logo {
  position: relative;
  z-index: 1;
}
.irapha-logo.is-state--shrink-vertical.irapha-logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
}
.irapha-logo.is-state--shrink-vertical.irapha-logo__container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-self: flex-start;
}
.irapha-logo.is-state--shrink-vertical.irapha-logo .irapha-logo__logo-image {
  display: none;
}
.irapha-logo.is-state--shrink-horizontal.irapha-logo .irapha-logo__container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.irapha-logo.is-state--shrink-horizontal.irapha-logo .irapha-logo__menus {
  flex-direction: column;
}
.irapha-logo.is-state--shrink-horizontal.irapha-logo .irapha-logo__logo-image {
  display: none;
}
.irapha-logo__container {
  position: relative;
  height: 100%;
  aspect-ratio: 16/10;
}
.irapha-logo__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 82%;
  height: 100%;
}
.irapha-logo__logo-image {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  transition: all 0.1 ease-in-out;
}
.irapha-logo__menus {
  position: relative;
  z-index: 2;
  display: flex;
  padding: 4px;
}

.irapha-maximize__icon {
  position: relative;
  width: 20px;
  aspect-ratio: 1;
}

.irapha-network-status {
  position: relative;
  width: 20px;
  aspect-ratio: 1;
}