@use "../../styles/common";

.irapha-main-layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.irapha-main-layout__dicom-window-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
