@use "../../../../../styles/common";
@use "../../../../../themes/shape" as shape;

@use "../../../base/style" as layout-popup-base;
@use "../data-grid/data-grid";
@use "../user-info/user-info";

$color-border: var(--color__border);
$color-bg: var(--color__bg-primary);

.irapha-related-study__inner {
  @include shape.small;

  background-color: $color-bg;
}

.irapha-related-study__header {
  position: relative;
  padding: 16px;

  cursor: move;
}

.irapha-related-study__close {
  position: absolute;
  top: 16px;
  right: 16px;
}
