@use "../../../../themes/typography" as typography;
@use "../../../../styles/input" as input;

$color-font1: var(--color__font-secondary);
$color-border: var(--color__border);

.irapha-revise-popup {
  min-width: 400px;
}

.irapha-revise__content {
  display: flex;
  gap: 24px;

  padding: 16px;

  canvas {
    border-radius: 4px;
    background-color: #000;
  }
}

.irapha-revise__content__right {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.irapha-revise__content__section {
  display: flex;
  flex-direction: column;

  white-space: nowrap;

  label {
    @include typography.label-medium;

    display: flex;
    align-items: center;
    gap: 8px;

    min-height: 24px;
  }

  input[type="radio"] {
    min-width: 16px;
  }

  input[type="text"] {
    @include input.input-style;
  }
}

.irapha-revise__content__title {
  @include typography.title-small;
  color: $color-font1;
}

.irapha-revise__content__rotate-root {
  display: flex;
  flex-direction: column;
}

.irapha-revise__content__rotate-row {
  display: flex;
  gap: 16px;

  margin-left: 24px;
}

.irapha-revise__content__shutter-row {
  margin-left: 24px;

  span {
    min-width: 40px;
  }
}

// Footer
// =================================================================
.irapha-revise__footer {
  display: flex;
  justify-content: flex-end;
  gap: 12px;

  padding: 12px;

  border-top: 1px dashed $color-border;
}
