@use "../../../styles/common";

// sticky
// =================================================================
@mixin l-column-first {
  grid-template-areas:
    "top top top top"
    "left content content right"
    "left content content right"
    "bottom bottom bottom bottom";
}

@mixin l-row-first {
  grid-template-areas:
    "left top top right"
    "left content content right"
    "left content content right"
    "left bottom bottom right";
}

@mixin l-sticky-menu {
  &.--layout--column-first {
    @include l-column-first;

    .irapha-sticky-menu__dropzone {
      &.--left {
        z-index: 4;
      }
      &.--right {
        z-index: 4;
      }
    }
  }

  &.--layout--row-first {
    @include l-row-first;

    .irapha-sticky-menu__dropzone {
      &.--top {
        z-index: 4;
      }
      &.--bottom {
        z-index: 4;
      }
    }
  }
}

.irapha-sticky-menu {
  display: grid;
  width: 100%;
  height: 100%;

  grid-template-rows: fit-content(0) 1fr 1fr fit-content(0);
  grid-template-columns: fit-content(0) 1fr 1fr fit-content(0);

  background-color: #333;

  @include l-column-first;
  @include l-sticky-menu;
}

// dropzone
// =================================================================
$dropzone-min-size: 48px;

@mixin s-dropzone {
  &.--active {
    position: static;

    &.--top,
    &.--bottom {
      z-index: 6;
    }

    &.--left,
    &.--right {
      z-index: 5;
    }
  }
}

.irapha-sticky-menu__dropzone {
  &.--top {
    grid-area: top;
    align-self: flex-start;

    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;

    @include s-dropzone;
  }

  &.--left {
    grid-area: left;
    justify-self: flex-start;

    position: absolute;
    display: flex;
    width: fit-content;
    height: 100%;

    @include s-dropzone;
  }

  &.--right {
    grid-area: right;
    justify-self: flex-end;

    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    width: fit-content;
    height: 100%;

    @include s-dropzone;
  }

  &.--bottom {
    grid-area: bottom;
    align-self: flex-end;

    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: fit-content;

    @include s-dropzone;
  }
}

// =================================================================

.content {
  grid-area: content;

  width: 100%;
  height: 100%;
  background-color: skyblue;
}
