@use "../../../../styles/common";
@use "../../../../themes/colors" as colors;
@use "../../../../themes/typography" as typography;
@use "../../../../themes/shape" as shapes;

@use "../../../sub-menu/style" as sub-menu;

// Menu
// =========================================================================
@mixin name-hide {
  .irapha-toolbox__menu__item {
    &__content {
      width: fit-content;

      &__name {
        display: none;
      }
    }
  }
}

@mixin menu-name {
  @include typography.label-small;
  color: var(--color__font-secondary);

  text-align: center;

  width: 100%;
  white-space: nowrap;

  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin l-menu {
  &.--layout-column-two {
    gap: 4px;
    grid-auto-flow: unset;
    grid-template-columns: repeat(2, 1fr);
  }
}

@mixin s-menu {
  &.--name-hide {
    @include name-hide;
  }
}

.irapha-toolbox__menu {
  display: grid;
  grid-auto-flow: column;
  gap: 2px;

  width: fit-content;

  @include l-menu;
  @include s-menu;

  .irapha-toolbox__menu__item {
    &__content {
      position: relative;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;

      width: 40px;

      border: none;

      &__name {
        @include menu-name;
      }
    }
  }
}

// menu icon
// =================================================================

@mixin s-menu-icon {
  &.--wrapped {
    padding: 4px;
    border: 2px solid #eeeeee22;
  }

  &.--more {
    &::after {
      content: "▼";
      position: absolute;
      bottom: -4px;
      right: -2px;

      font-size: 14px;

      color: var(--color__primary);

      transform: scale(0.4);
    }
  }
}

.irapha-menu-icon {
  position: relative;
  border-radius: shapes.$small;

  width: 36px;
  min-width: 24px;
  aspect-ratio: 1;

  transition: all 0.3s ease-in-out;

  overflow: hidden;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
  }

  &:hover {
    opacity: 0.7;
    transform: scale(1.2);
  }

  @include s-menu-icon;
}
