@use "../../../../styles/common";
@use "../../../../themes/colors" as colors;
@use "../../../../themes/typography" as typography;
@use "../../../../themes/shape" as shapes;

@use "../../../sub-menu/style" as sub-menu;

// Menu
// =========================================================================
@mixin name-hide {
  .irapha-menu-item__name {
    display: none;
  }
}

@mixin l-menu {
  &.--layout-column-two {
    gap: 4px;
    grid-auto-flow: unset;
    grid-template-columns: repeat(2, 1fr);
  }
}

@mixin s-menu {
  &.--name-hide {
    @include name-hide;
  }
}

.irapha-toolbox__menu {
  display: grid;
  grid-auto-flow: column;
  gap: 2px;

  width: fit-content;

  @include l-menu;
  @include s-menu;
}
