.uk-checkbox {
  border-radius: 2px;
  margin: 0;
  border: 1px solid var(--color__border-weak) !important;

  &:checked {
    border-color: transparent !important;
    background-color: var(--color__accent) !important;
  }

  &:disabled {
    background-color: unset !important;
  }
}
