@use "../../../themes/colors" as colors;
@use "../../../themes/typography" as typography;

$font-color1: #ffffff99;
$font-color2: colors.$font-white;
$focus-bg-color: #ffffff11;

@mixin focus {
  color: $font-color2;
  border-color: $font-color1;
  background-color: $focus-bg-color;
}

@mixin s-kin-selector {
}

.irapha-kin-selector {
  @include typography.label-medium;

  width: fit-content;

  border-radius: 8px;
  border-color: var(--color__border);

  background-color: transparent;
  color: $font-color1;

  cursor: pointer;

  &:hover {
    @include focus;
  }

  &.uk-select:focus {
    @include focus;
  }
}
