@use "../../../styles/common";
@use "../../../themes/colors" as colors;

@use "./elements/menu-item/menu-item" as custom-context-menu__item;

$menu-bg: var(--color__secondary-container);

@mixin menu-container {
  position: absolute;

  display: flex;
  flex-direction: column;
  padding: 4px 0;

  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),
    0px 2px 6px 2px rgba(0, 0, 0, 0.15);

  background-color: $menu-bg;
}

.irapha-context-menu {
  @include menu-container;
  z-index: -1;
}

// submenu
// =================================================================
@mixin s-submenu {
  &.--direction-left {
    left: unset;
    right: 200px;
  }
}

.irapha-context-menu__item__submenu {
  @include menu-container;
  @include s-submenu;
  display: none;

  top: 0;
  left: 200px;
}
