@use "../../../../themes/typography" as typography;

$inactive-bg-color: var(--color__inactive-bg-primary);
$active-bg-color: var(--color__active-bg-primary);
$hover-bg-color: var(--color__bg-secondary);

// List item
// =================================================================
@mixin list-item-pseudo {
  &::before {
    content: "";

    z-index: 1;

    background-color: $inactive-bg-color;
    width: 24px;
    aspect-ratio: 1;
    border-radius: 50%;

    position: absolute;
    bottom: 0;
    left: -24px;
  }

  &::after {
    content: "";

    z-index: 1;

    background-color: $inactive-bg-color;
    width: 24px;
    aspect-ratio: 1;
    border-radius: 50%;

    position: absolute;
    bottom: 0;
    right: -24px;
  }
}

@mixin item-dummy-pseudo {
  .irapha-tabs__item__dummy {
    &::before {
      content: "";
      background-color: $active-bg-color;
      width: 12px;
      aspect-ratio: 1;

      position: absolute;
      bottom: 0;
      left: -12px;
    }

    &::after {
      content: "";
      background-color: $active-bg-color;
      width: 12px;
      aspect-ratio: 1;

      position: absolute;
      bottom: 0;
      right: -12px;
    }
  }
}

@mixin s-list-item {
  &[active="true"] {
    z-index: 2;
    background-color: $active-bg-color;

    @include list-item-pseudo;
    @include item-dummy-pseudo;
  }
}

.irapha-tabs__item {
  @include s-list-item;

  position: relative;
  z-index: 3;

  min-width: fit-content;
  height: 100%;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  padding: 4px 8px;

  color: var(--color__font-primary);
  background-color: transparent;

  &:hover {
    &:not([active="true"]) {
      background-color: $hover-bg-color;
    }
  }
}
