@use "../../../../themes/typography" as typography;
@use "../../common/tabs.constant" as constant;

$inactive-bg-color: constant.$inactive-bg-color;
$active-bg-color: constant.$active-bg-color;
$hover-bg-color: #eeeeee11;

// List item
// =================================================================
@mixin list-item-pseudo {
  &::before {
    content: "";

    z-index: 1;

    background-color: $inactive-bg-color;
    width: 24px;
    aspect-ratio: 1;
    border-radius: 50%;

    position: absolute;
    bottom: 0;
    left: -24px;
  }

  &::after {
    content: "";

    z-index: 1;

    background-color: $inactive-bg-color;
    width: 24px;
    aspect-ratio: 1;
    border-radius: 50%;

    position: absolute;
    bottom: 0;
    right: -24px;
  }
}

@mixin item-dummy-pseudo {
  .irapha-tabs__item__dummy {
    &::before {
      content: "";
      background-color: $active-bg-color;
      width: 12px;
      aspect-ratio: 1;

      position: absolute;
      bottom: 0;
      left: -12px;
    }

    &::after {
      content: "";
      background-color: $active-bg-color;
      width: 12px;
      aspect-ratio: 1;

      position: absolute;
      bottom: 0;
      right: -12px;
    }
  }
}

@mixin s-list-item {
  &.--active {
    z-index: 2;
    background-color: $active-bg-color;

    @include list-item-pseudo;
    @include item-dummy-pseudo;
  }
}

.irapha-tabs__item {
  @include s-list-item;

  position: relative;
  z-index: 3;

  width: 200px;
  height: 100%;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  padding: 4px 8px;

  color: var(--color__font-primary);
  background-color: transparent;

  &:hover {
    &:not(.--active) {
      background-color: $hover-bg-color;
    }

    .irapha-tabs__item__menus {
      opacity: 1;
    }
  }

  .irapha-tabs__item__title-container {
    display: flex;
    justify-content: space-between;
  }

  .irapha-tabs__item__title {
    @include typography.label-medium;
  }

  .irapha-tabs__item__desc {
    @include typography.caption;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    opacity: 0.8;
  }
}

// List items menu
// =========================================================================
@mixin menus-item {
  width: 12px;
  height: fit-content;
  aspect-ratio: 1;

  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.5);
  }
}

.irapha-tabs__item__menus {
  display: flex;
  align-items: center;
  gap: 2px;

  opacity: 0;
  transition: all 0.3s ease-in-out;

  .irapha-tabs__cid {
    @include menus-item;
  }

  .irapha-tabs__related-study {
    @include menus-item;
  }

  .irapha-tabs__close {
    @include menus-item;
  }
}
