@use "../../styles/common";
@use "../../styles/anim" as anim;

// icons
// =================================================================

$color-default: var(--color__icon-default);
$color-focus: var(--color__icon-hover);
$color-active: var(--color__icon-active);

@mixin size-icon {
  &.--small {
    width: 20px;
    height: 20px;
  }
}

@mixin s-icon {
  &.--active {
    fill: $color-active;
  }
}

.irapha-icon {
  @include anim.basic-transition;

  position: relative;
  width: 24px;
  height: 24px;
  fill: $color-default;

  &:hover {
    fill: $color-focus;

    &.--active {
      opacity: 0.7;
    }
  }

  @include size-icon;
  @include s-icon;
}
