@use "../../../styles/common";
@use "../../../styles/input" as input;

.irapha-search-container {
  position: relative;

  & > .irapha-icon {
    position: absolute;

    width: 24px;
    height: 24px;

    right: 8px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.irapha-search__input {
  @include input.input-style;
  padding: 8px;
}
