@use "../../../../../styles/common";

$item-hover-bg: #eeeeee11;
$color-font1: var(--color__font-secondary);
$color-font2: var(--color__font-primary);

@mixin s-menu-item {
  &.--more {
    &::after {
      content: "▶";

      color: $color-font1;

      transform: scaleX(0.7);
    }
  }
}

.irapha-context-menu__item {
  @include s-menu-item;

  position: relative;

  display: flex;
  justify-content: space-between;

  width: 200px;
  height: 32px;
  padding: 8px;

  color: $color-font1;

  cursor: pointer;

  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $item-hover-bg;
    color: $color-font2;
  }
}
