@use "../../../../../styles/common";
@use "../../../../../styles/input" as input;
@use "../../../../../themes/typography" as typography;

$color-border-default: var(--color__border);

// .irapha-annotation-cm {
// }

.irapha-annotation-cm__input-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;

  width: 200px;

  padding: 8px 8px 12px 8px;

  border-bottom: 1px dashed $color-border-default;
}

.irapha-annotation-cm__input {
  @include input.input-style;
}
