@use "../../../themes/typography" as typography;

$color-font1: var(--color__font-secondary);
$color-font2: var(--color__font-primary);
$color-bg-focus: #ffffff11;
$color-border-default: var(--color__border);

@mixin focus {
  color: $color-font2;
  border-color: $color-font1;
  background-color: $color-bg-focus;
}

.irapha-kin-selector {
  @include typography.label-medium;

  width: fit-content;

  border-radius: 8px;
  border-color: $color-border-default;

  background-color: transparent;
  color: $color-font1;

  cursor: pointer;

  &:hover {
    @include focus;
  }

  &.uk-select:focus {
    @include focus;
  }
}
