@use "../../../../styles/common";
@use "../../../../themes/break-point" as break-point;

@use "../../../icons/style" as icons;
@use "../maximize-button/maximize-button";
@use "../network-status/network-status";
@use "../../../viewer-info/style" as viewer-info;

@mixin logo-icon-wrapper {
  position: relative;

  width: 20px;
  aspect-ratio: 1;
}

// 로고 상태
@mixin s-logo {
  &.--shrink-v {
    width: fit-content;
    height: 30px;

    .irapha-logo__container {
      width: fit-content;
      height: fit-content;
      align-self: flex-start;
    }

    .irapha-logo__logo-image {
      display: none;
    }
  }

  &.--shrink-h {
    .irapha-logo__container {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .irapha-logo__menus {
      flex-direction: column;
    }

    .irapha-logo__logo-image {
      display: none;
    }
  }
}

// logo
// =================================================================
.irapha-logo {
  position: relative;
  z-index: 1;

  @include s-logo;
}

.irapha-logo__container {
  position: relative;

  height: 100%;
  aspect-ratio: 16/10;
}

.irapha-logo__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 82%;
  height: 100%;

  overflow: hidden;
}

.irapha-logo__logo-image {
  position: absolute;
  width: 100%;
  height: 100%;

  border: none;

  cursor: pointer;

  transition: all 0.1 ease-in-out;
}

.irapha-logo__menus {
  position: relative;
  z-index: 2;

  display: flex;
  padding: 4px;
}

// components
.irapha-maximize__icon {
  @include logo-icon-wrapper;
}

.irapha-network-status {
  @include logo-icon-wrapper;
}

// Media query - laptop
// =================================================================
@media (max-width: break-point.$laptop) {
  .irapha-logo__logo-image {
    top: 4px;
  }
}
