@use "../../../../styles/common";
@use "../maximize-button/maximize-button";
@use "../network-status/network-status";
@use "../../../viewer-info/style";

@mixin logo-icon-wrapper {
  position: relative;

  width: 20px;
  aspect-ratio: 1;
}

@mixin s-logo {
  // 상하 축소 상태
  &.--shrink-v {
    &.irapha-logo {
      width: fit-content;
      height: 30px;

      &__container {
        width: fit-content;
        align-self: flex-start;
      }

      &__logo-image {
        display: none;
      }
    }
  }

  // 좌우 축소 상태
  &.--shrink-h {
    &.irapha-logo {
      .irapha-logo {
        &__container {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
        }

        &__menus {
          flex-direction: column;
        }

        &__logo-image {
          display: none;
        }
      }
    }
  }
}

// logo
.irapha-logo {
  position: relative;
  z-index: 1;

  @include s-logo;

  &__container {
    position: relative;

    height: 100%;
    aspect-ratio: 16/10;
  }

  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 82%;
    height: 100%;
  }

  &__logo-image {
    position: absolute;
    width: 100%;
    height: 100%;

    border: none;

    cursor: pointer;

    transition: all 0.1 ease-in-out;
  }

  &__menus {
    position: relative;
    z-index: 2;

    display: flex;
    padding: 4px;
  }
}

// components
.irapha-maximize__icon {
  @include logo-icon-wrapper;
}

.irapha-network-status {
  @include logo-icon-wrapper;
}
